html, body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: #EFFFEC;  
    display: flex;
    flex-direction: column;
}

header {
    background-color: #29A55B;
    padding: 55px 0;
    position: relative;
}

.main {
    flex-grow: 1;
    background-color: #EFFFEC;
    display: grid;
    grid-template-columns: min(200px, 20vw) auto min(200px, 20vw);
    
}

#toolbox {
    /*background-color: cadetblue;*/
    background-color: #dadada;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    
}

#toolbox fieldset {
    border-radius: 10px;
    min-width: 0;
    width: 99%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    margin-top: 2rem;
}

label > div:has(> input:checked) {
    background-color: #9ea69d;
}

label > div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem;
    border-radius: 5px;
    box-sizing: border-box;
    transition: background-color 0.2s;
}

div:has(input[id="heading"]) {
    font-size: x-large;
}

div:has(input[id="subheading"]) {
    font-size: large;
}

div:has(input[id="body"]) {
    font-size: medium;
}

input:checked {
    box-shadow: 0 0 0 3px orange;
}

input:checked + label {
    background-color: black;
}

label {
    width: auto;
}

#socials {
    padding: 5px;
    display: grid;
    gap: 0.5em;
    grid-template-columns: 1fr 1fr;
}

#text {
    padding: 5px;
    display: grid;
    gap: 0.2em;
    grid-template-columns: 1fr;
}

#text label {
    width: 100%;
    margin: 0 auto;
}

#shapes {
    padding: 5px;
    display: grid;
    gap: 0.5em;
    grid-template-columns: 1fr 1fr;
}

img[class="input"] {
    width: 40px;
    height: 40px;
    margin: 2px 2px 2px 2px;
}

#center {
    display: grid;
    grid-template-rows: min(600px, 60vw) 1fr;
}

.business-card {
    position: relative;
    margin: min(100px, 10vw) auto auto auto;
    text-align: center;

    display: grid;
    grid-template-rows: 0px auto auto;
}

#front-card, #back-card {
    width: min(540px, 54vw);
    height: min(300px, 30vw);
    background-color: white;
    border: 1px solid #d0d0d0;
    border-radius: min(15px, 1.5vw);
    margin: auto;
    
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

#front-card {
    transform: rotateY(0deg);
}

#back-card {
    transform: rotateY(180deg);
}

#flip_button {
    display: block;
    margin: min(10px, 1vw) auto auto auto
}

#flip_button_img {
    display: block;
    margin: min(10px, 1vw) auto auto auto;
    width: 20px;
    height: 20px;
    margin: 2px 2px 2px 2px;
}

#attribute-sel {
    background-color: #dadada;
}

#save {
    background-color: #29A55B;
}

fieldset {
    /* margin: 5px 5px 5px 5px; */
    color: white;
}