body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: #EFFFEC;  
}


header {
    background-color: #29A55B;
    padding: 55px 0;
    position: relative;
}

h1 {
    margin: 0;
    color: #EFFFEC;
    font-size: 60px;
    font-weight: bold;
}

#concard {
    margin-top: 3%;
}

#theme-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    background-color: #EFFFEC;
    padding: 40px 0;
}


.card-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #29A55B;
    font-weight: bold;
    font-size: 18px;
}

.card-button label {
    margin-bottom: 10px;
    font-size: 24px;
}

.card-button button {
    width: 300px;
    height: 170px;
    border: 4px solid #29A55B;
    background-color: white;
    border-radius: 6px;
    font-size: 46px;
    color: #29A55B;
    cursor: pointer;
}

.card-button button:hover {
    background-color: #ecf9ea;
}

.card-button .icon svg{
    stroke: #29A55B;
}
  

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0;
    /* gap: 8px;
    margin: 30px auto 8px auto;   */
}

.search-icon {
    flex-shrink: 0;
    stroke: #838588;
    background-color: white;
}

.search-bar input {
    /* background:url(../icons/search.svg) left no-repeat white; */
    padding: 10px;
    width: 400px;
    font-size: 16px;
    border-radius: 0 10px 10px 0;
    height: 20px;
    border: none;
}

.search-bar button {
    background-color: white;
    border-radius: 10px 0 0 10px;
    height: 40px;
    border: none;
}


.link-to-all {
    font-size: 14px;
    margin-top: 0px;
}


.link-to-info {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 180px;
    flex-wrap: wrap;
    padding: 12px 0;
    font-size: 13px;
    z-index: 1000;
}

.link-to-all a,
.link-to-info a {
    text-decoration: none;
    font-weight: bold;
    color: #29A55B;
}

.link-to-all a:hover,
.link-to-info a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: rgb(31, 97, 44);
}

/* ===== Upload ===== */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#popup {
  background: #EFFFEC;
  padding: 20px;
  /* border-radius: 12px; */
  /* width: 600px; */
  width: 80%;
  height: 70%;
  max-width: 90%;
  /* box-shadow: 0 0 15px rgba(0,0,0,0.5); */
  position: relative;
}

#right-col {
    width: 65px;
    height: 90%;
    position: relative;
}

#left-col {
    display: block;
    flex-flow: column;
    width: 65px;
    height: 90%;
    position: relative;
}

#closeBtn {
    cursor: pointer;
    background-color: #29A55B;
    background-image: url('../icons/close.svg');
}

#deleteBtn {
    cursor: pointer;
    background-color: #ff4b4b;
    margin: 0;

}

#downloadBtn {
    cursor: pointer;
    background-color: #29A55B;
}

#editBtn {
    /* position: absolute; */
    cursor: pointer;
    background-color: #29A55B;
}

#dialogBox {
    position: absolute;
    background: #EFFFEC;
    border: none;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    z-index: 999;
    width: 300px;
}

#dropZone {
    padding: 40px;
    margin: 20px 0;
    border-radius: 10px;
    background-color: #29A55B;
}

#dialogBox button, #dialogBox input {
    border: solid 1px #29A55B;
    margin: 5%;
    border-radius: 8px;
    color: #29A55B;
    background-color: #EFFFEC;
}



.flip-container {
    width: 300px;
    height: 167px;
    border: 4px solid #29A55B;
    border-radius: 6px;
    position: relative;
}

.front-canvas, .back-canvas {
    width: 300px;
    height: 167px;
    max-width: 100%;
    left: 0;
    border: none;
    border-radius: 6px;
    backface-visibility: hidden;
}

.back-canvas {
    transform: rotateY(180deg); 
}



/* ===== View All Card ===== */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #27ae60;
    padding: 10px 15px;
    gap: 10px;
}

.top-left,
.top-right {
    display: flex;
    gap: 10px;
}

.icon-button {
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.icon-button img {
    width: 32px;
    height: 32px;
}

.search-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 12px;
    padding: 2px 10px;
    max-width: 800px;
    height: 34px;   
}

.search-bar-view {
    margin-top: 10px;
    border: none;
    flex-grow: 1;
    font-size: 16px;
    outline: none;
    height: 28px;
    line-height: 28px;
    padding: 0;
    background: transparent;
}

.show {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 40px;
    background-color: #f0fff0;
    justify-items: center;
    align-items: center;
}

.view-card-button button {
    width: 300px;
    height: 167px;
    border: 4px solid #EFFFEC;
    background-color: #EFFFEC;
    border-radius: 6px;
    font-size: 46px;
    color: #EFFFEC;
    cursor: pointer;
}

.card-button img {
    width: 40px;
    height: 40px;
    filter: brightness(0) saturate(100%) invert(34%) sepia(82%) saturate(362%) hue-rotate(83deg) brightness(94%) contrast(91%);
}

.view-flip-container{
    width: 300px;
    height: 167px;
    border: 4px solid #29A55B;
    border-radius: 6px;
    position: relative;
}

.front-canvas, .back-canvas {
    width: 300px;
    height: 167px;
    max-width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    border-radius: 6px;
    backface-visibility: hidden;
}

.back-canvas {
    transform: rotateY(180deg); 
}

/* ====== hover view button ====== */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.4);
    opacity: 0;
    transition: opacity 0.3s;
    border-radius: 6px;
    pointer-events: none;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
}


.view-card-button:hover .overlay {
    opacity: 1;
}


.button-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height: auto;
    padding: 10px;
}

.overlay-button {
    width: 50px !important;
    height: 50px !important;
    min-width: 50px !important;
    min-height: 50px !important;
    flex: 0 0 50px !important; 
    padding: 0;
    margin: 0;
    border: 4px solid #29A55B !important;
    border-radius: 100% !important;
    overflow: hidden;
    background-color: #29A55B !important; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    transition: background-color 0.3s ease;
    cursor: pointer;
    pointer-events: auto;
}


.overlay-button img {
    width: 24px;
    height: 24px;
    object-fit: contain;
    display: block;
}


.overlay-button:hover {
    background-color: #d9f5d8 !important; 
}

.card-main-button {
    cursor: pointer;
    border: none;
    background: transparent;
    padding: 0;
    width: 100%;
    height: 100%;
}



/* ===== preview page ===== */
.preview-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.preview-content {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 90%;
    max-height: 90%;
    margin-top: 40px;
}

.close-preview {
    position: fixed;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1001;
    padding: 5px; 
}

.close-preview img {
    display: block;
    width: 100%;
    height: 100%;
}

.preview-canvas {
    max-width: 100%;
    max-height: 80vh;
    display: block;
}

/* == shift button == */
.canvas-container {
    position: relative;
    width: 800px;
    height: 445px;
    margin: 0 auto 20px;
}

.preview-canvas {
    width: 800px;
    height: 445px;
    border-radius: 8px;
    display: block;
}


.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60px; 
    height: 60px;
    border-radius: 50%;
    background-color: #29A55B;
    border: none;
    cursor: pointer;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: all 0.3s;
}

.nav-button:hover {
    background-color: #1e7d4b;
    transform: translateY(-50%) scale(1.1);
}

.nav-button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.nav-button.left {
    left: -80px; 
}

.nav-button.right {
    right: -80px; 
}

.preview-content {
    position: relative;
    padding: 20px;
    background: white;
    border-radius: 10px;
    max-width: 900px;
    margin: 40px auto;
}

/* == buttons on the left == */

.action-buttons {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 10;
}

.action-button {
    width: 50px;
    height: 50px;
    border: 4px solid #29A55B;
    border-radius: 50%;
    background-color: #29A55B;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

.action-button:hover {
    background-color: #EFFFEC;
    transform: scale(1.1);
}


/* ===== DARK THEME ===== */
body.dark-theme {
    background-color: #212520;
    color: #e0e0e0;
}

body.dark-theme header {
    background-color: #74c866;
}

body.dark-theme h1 {
    color: #212520;
}

body.dark-theme .card-container {
    background-color: #212520;
}

body.dark-theme .card-button {
    color: #74c866;
}

body.dark-theme .card-button button {
    background-color: white;
    border-color: #74c866;
    color: #74c866;
}

body.dark-theme .card-button button:hover {
    background-color: #605d5d;
}

body.dark-theme .search-bar input {
    background-color: #212520;
    color: #74c866;
}

body.dark-theme .link-to-all a,
body.dark-theme .link-to-info a {
    color: #74c866;
}

body.dark-theme .link-to-all a:hover,
body.dark-theme .link-to-info a:hover {
    color: #329121;
}

body.dark-theme .card-button .icon svg {
    stroke: #74c866; 
}

body.dark-theme .search-icon {
    flex-shrink: 0;
    stroke: #A7ABB1;
}

body.dark-theme .front-canvas,
body.dark-theme .back-canvas {
    border-color: #74c866;
}

/* #all-card-button {
    width: 300px;
    height: 170px;
    border: 4px solid #29A55B;
    background-color: white;
    border-radius: 6px;
    font-size: 46px;
    color: #29A55B;
    cursor: pointer;
} */

#all-card-button .icon svg{
    stroke: #29A55B;
}

.popup {
    width: 600px;
    height: 340px;
    position: relative;
    transition: transform 0.6s ease;
    transform-style: preserve-3d;
    background-color: #EFFFEC;
    color: #29A55B;
}

.popup.flip {
    transform: rotateY(180deg);
}

.circle-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    text-align: center;
    margin-bottom: 30%;
}

button-col > div {
    margin: 10%;
}

body.dark-theme .search-bar button {
    background-color: #212520;
}

body.dark-theme .card-button button {
    background-color: #212520;
}

body.dark-theme .card-button button:hover {
    background-color: #2e302d;
}

body.dark-theme #dialogBox {
    background: #212520;
}

body.dark-theme #dropZone {
    padding: 40px;
    margin: 20px 0;
    border-radius: 10px;
    background-color: #74c866;
}

body.dark-theme #dialogBox button, body.dark-theme #dialogBox input {
    border: solid 1px #74c866;
    margin: 5%;
    border-radius: 8px;
    color: #74c866;
    background-color: #212520;
}

body.dark-theme .popup {
    background-color: #212520;
    color: #74c866;
}

body.dark-theme #popup {
    background-color: #212520;
}

body.dark-theme #popup a {
    color: red;
}

#search-results {
    position: absolute;
    background-color: white;
    border-radius: 0 0 10px 10px;
    box-shadow: #EFFFEC;
}


body.dark-theme #search-results {
    background: #212520;
    color: #74c866;
    box-shadow: #2e302d;
}

body.dark-theme #search-results a {
    color: #74c866;
}
